@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html{
    margin: 0;
    padding: 0;
}
body {
    display: flex;     /* holy grail */
    flex-direction: column;     /* holy grail */
    height: 100%;    /* holy grail */
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    color: rgb(128, 128, 128); 
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/* troubleshooting purposes---> 
*{ border: 1px solid red; } 
<--------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.3;
}
a {
    position: relative;
    text-decoration: none;
}
p {
    font-size: 14px;
    font-weight: 300;
} 
li {
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    display: inline;
}
ul {
    display: inline;
}
section {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 6% 6%;
}
#page-wrapper{
    position: relative;
    z-index: 2;
}
header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6% 0 6%;
    width: 100%;
    height: 60px;
    background-color: #000;
    @media (max-width: 600px){
      flex-wrap: wrap;
    }
}

footer {
    width: 100%;
    padding: 1.5%;
    color: white;
    text-align: center;
    font-size: 14px;
    background-color: rgb(54, 54, 54);
    z-index: 2;
}